@charset "utf-8";
html{
background: linear-gradient(131deg, #9f01ce, #07b8fb, #d7ff00, #f200ff);
background-size: 800% 800%;

-webkit-animation: gradient 7s ease infinite;
-moz-animation: gradient 7s ease infinite;
animation: gradient 7s ease infinite;
}
@-webkit-keyframes gradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@keyframes gradient { 
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
body{
	font-family: Helvetica,sans-serif;
	color: #fff;
	margin: 0 !important;
	padding: 0 !important;
	min-height: 100%;
}
#bkg{
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#content{
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
	height:100%;
}
h1 {
	font-size: 3rem;
	color:#FA07DA;
}
h2 {
	font-size: 2rem;
	color: #05FAF6;
	margin-bottom: 2em;
}
h3 {
	font-size: 1.5rem;
}
p{
	font-size: .9rem;
	line-height: 150%;
}
.flip-clock-divider .flip-clock-label{
	color: white;
}
.flip-clock-wrapper{
	margin: 0 0 1rem 0;
}
.flip-clock-label{
	font-weight: bold;
	color: white;
}
.next{
	display: none;
}
.notyet{
	/*display: none;*/
}
footer{
	margin: 4rem 0;
	color: #333;
}
#mc_embed_signup form{
	padding: 1rem 0 0 0;
}
#mc_embed_signup input.email{
	border-radius: 0;
	border: 0;
}
#mc_embed_signup .button{
	background-color: #1ac7c5;
	border-radius: 0; 
}
#mc_embed_signup .button:hover{
	background-color: #18adaa; 
}
label{
	color: #fff;
}
@media all and (min-width: 200px) {
	.clock{
	  zoom: 0.35;
	  -moz-transform: scale(0.35)
	}
}
@media all and (min-width: 400px) {
	.clock{
	  zoom: 0.4;
	  -moz-transform: scale(0.4)
	}
}
@media all and (min-width: 600px) {
	.clock{
	  zoom: 0.6;
	  -moz-transform: scale(0.6)
	}
}

@media all and (min-width: 650px) {
	.clock{
	  zoom: .7;
	  -moz-transform: scale(0.7)
	}
}